@{
    ViewData["Title"] = "Index";
}

<body style="background-color: #EBF5EE">
    <div class="dashboardHeader">Admin Dashboard</div>

    <br />
    <div class="welcomeStatement">
        Welcome! Please navigate the admin features below.
    </div>
    <br />
    <br />
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">View Users</h5>
                <p class="card-text">View the Map App users within the system here.</p>
                <a class="btn btn-primary" id="viewUsersButton" href="~/MapAppUsers" role="button">View Users</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Future Admin Feature?</h5>
                <p class="card-text">This is a placeholder for potential future admin abilities.</p>
            </div>
        </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Future Admin Feature?</h5>
                <p class="card-text">This is a placeholder for potential future admin abilities.</p>            </div>
        </div>
    </div>
</body>

