@{
    ViewData["Title"] = "Index";
}
<head>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: #15202b">
    @*<div class="dashboardHeader">Admin Dashboard</div>

    <br />
    <div class="welcomeStatement">
        Welcome! Please navigate the admin features below.
    </div>
    <br />
    <br />
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">View Users</h5>
                <p class="card-text">View the Map App users within the system here.</p>
                
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Future Admin Feature?</h5>
                <p class="card-text">This is a placeholder for potential future admin abilities.</p>
            </div>
        </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Future Admin Feature?</h5>
                <p class="card-text">This is a placeholder for potential future admin abilities.</p>            </div>
        </div>
    </div>*@
    <div class="dashboardHeader">Admin Dashboard</div>

    <br />
    <div class="welcomeStatement">
        Welcome! Please navigate the admin features below.
    </div>
    <br />
    <br />
    
    </div>
     <div class="row justify-content-center">
            <div class="col-md-4" style="color:white; background-color: #22303c; padding: 8px">
                <h5 class="card-title">Future Admin Feature?</h5>
                <p class="card-text">This is a placeholder for potential future admin abilities.</p>
            </div>
            <div class="col-md-4" style="color:white; background-color: #22303c; padding: 8px">
                <h5 class="card-title">Future Admin Feature?</h5>
                <p class="card-text">This is a placeholder for potential future admin abilities.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <hr />
            </div>
        </div>
       <div class="row justify-content-center">
            <div class="col-md-8" style="color:white; background-color: #22303c; padding: 8px">
                <h5 class="card-title ">View Users <i class="far fa-address-book"></i> </h5>
                <p class="card-text">View the Map App users within the system here.</p>
                
            </div
        </div>
     </div>
        
</body>



